Repository croo12/z-project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: add basic test to server to satisfy vitest
  apps/server/src/index.test.ts
Due: eslint --fix, prettier --write

chores: update task
  specs/002-quality-workflow/tasks.md
Due: none

chore: enable rust quality checks in hooks
  .husky/pre-commit
  .husky/pre-push
  README.md
  specs/002-quality-workflow/tasks.md
Due: none

fix: translate to korean
  .specify/memory/constitution.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  AGENTS.md
  GEMINI.md
  specs/001-ai-brain-server/plan.md
  specs/001-ai-brain-server/spec.md
  specs/001-ai-brain-server/tasks.md
  specs/002-quality-workflow/plan.md
  specs/002-quality-workflow/spec.md
  specs/002-quality-workflow/tasks.md
  specs/003-korean-docs/plan.md
  specs/003-korean-docs/spec.md
  specs/003-korean-docs/tasks.md
Due: none

fix: adjust review
  .specify/templates/agent-file-template.md
  AGENTS.md
Due: none

fix: .gitignore
  .gitignore
Due: none

feat: migrate server to Gemini and introduce shared AI package
  GEMINI.md
  apps/server/.env.example
  apps/server/package.json
  apps/server/src/api/query.ts
  apps/server/src/core/graph.ts
  apps/server/src/debug-gemini.ts
  apps/server/src/lib/vector-store.ts
  apps/server/src/test-gemini.ts
  packages/ai/.eslintrc.js
  packages/ai/README.md
  packages/ai/package.json
  packages/ai/src/factories/chat-model.ts
  packages/ai/src/index.ts
  packages/ai/src/providers/gemini.ts
  packages/ai/src/providers/openai.ts
  packages/ai/src/types/index.ts
  packages/ai/tests/integration/factory.test.ts
  packages/ai/tests/unit/extensibility.test.ts
  packages/ai/tsconfig.json
  packages/ai/vitest.config.ts
  pnpm-lock.yaml
  specs/001-ai-brain-server/quickstart.md
  specs/004-shared-ai-package/contracts/api.yml
  specs/004-shared-ai-package/data-model.md
  specs/004-shared-ai-package/plan.md
  specs/004-shared-ai-package/quickstart.md
  specs/004-shared-ai-package/research.md
  specs/004-shared-ai-package/spec.md
  specs/004-shared-ai-package/tasks.md
  specs/005-migrate-server-to-gemini/plan.md
  specs/005-migrate-server-to-gemini/spec.md
  specs/005-migrate-server-to-gemini/tasks.md
Due: eslint --fix, prettier --write

fix(ai): remove leaky implementation details from factory tests
  apps/server/package.json
  packages/ai/package.json
  packages/ai/tests/integration/factory.test.ts
Due: prettier --write

feat(sync): implement article and feedback synchronization between Tauri and AI Brain Server
  GEMINI.md
  apps/mobile/src-tauri/.env.example
  apps/mobile/src-tauri/README.md
  apps/mobile/src-tauri/src/db.rs
  apps/mobile/src-tauri/src/features/mod.rs
  apps/mobile/src-tauri/src/features/recommendation/commands.rs
  apps/mobile/src-tauri/src/features/recommendation/repository.rs
  apps/mobile/src-tauri/src/features/sync/client.rs
  apps/mobile/src-tauri/src/features/sync/mod.rs
  apps/mobile/src-tauri/src/features/sync/service.rs
  apps/mobile/src-tauri/src/lib.rs
  apps/web/src/App.tsx
  apps/web/src/components/ArticleCard.tsx
  apps/web/src/components/ArticleList.tsx
  apps/web/src/hooks/useArticles.ts
  apps/web/src/views/ArticleView.tsx
  specs/007-app-server-sync/plan.md
  specs/007-app-server-sync/quickstart.md
  specs/007-app-server-sync/spec.md
  specs/007-app-server-sync/tasks.md
Due: eslint --fix, prettier --write

feat(server): implement article management API with feedback system
  .gitignore
  GEMINI.md
  apps/server/README.md
  apps/server/ecosystem.config.cjs
  apps/server/logs/.gitkeep
  apps/server/package.json
  apps/server/src/api/articles.ts
  apps/server/src/index.ts
  apps/server/src/lib/article-store.ts
  apps/server/src/lib/vector-store.ts
  apps/server/src/services/article.service.ts
  apps/server/src/services/ingestion.service.ts
  apps/server/src/types/article.ts
  specs/006-work-with-server/contracts/api.yml
  specs/006-work-with-server/data-model.md
  specs/006-work-with-server/plan.md
  specs/006-work-with-server/quickstart.md
  specs/006-work-with-server/research.md
  specs/006-work-with-server/spec.md
  specs/006-work-with-server/tasks.md
Due: eslint --fix, prettier --write

test: fix remaining ArticleList test prop
  apps/web/src/components/ArticleList.test.tsx
Due: eslint --fix, prettier --write

test: fix ArticleList tests by adding missing onSyncArticle prop
  apps/web/src/components/ArticleList.test.tsx
Due: eslint --fix, prettier --write

rebase
  .gitignore
  GEMINI.md
  apps/mobile/src-tauri/src/db.rs
  apps/mobile/src-tauri/src/error.rs
  apps/mobile/src-tauri/src/features/recommendation/commands.rs
  apps/mobile/src-tauri/src/features/sync/mod.rs
  apps/server/src/api/articles.ts
  apps/server/src/index.ts
  apps/server/src/lib/article-store.ts
  apps/server/src/lib/vector-store.ts
  apps/server/src/services/article.service.ts
  apps/server/src/services/ingestion.service.ts
Due: eslint --fix, prettier --write

fix: fix chores
  GEMINI.md
Due: none

chore(web): disable react-hooks/set-state-in-effect eslint rule
  apps/web/eslint.config.js
Due: none

feat: implement app-server article sync and production server setup
  apps/server/data/articles.json
  apps/server/logs/error.log
  apps/server/logs/out.log
  apps/server/src/index.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update Gemini API key environment variable name to GEMINI_API_KEY
  .github/workflows/release.yml
  packages/ai/src/types/index.ts
  specs/004-shared-ai-package/data-model.md
  specs/004-shared-ai-package/quickstart.md
Due: none

feat: implement debug overlay with server status and ai tester
  GEMINI.md
  apps/mobile/src-tauri/src/features/debug/commands.rs
  apps/mobile/src-tauri/src/features/debug/mod.rs
  apps/mobile/src-tauri/src/features/mod.rs
  apps/mobile/src-tauri/src/lib.rs
  apps/web/src/App.tsx
  apps/web/src/components/Debug/AITester.tsx
  apps/web/src/components/Debug/DebugOverlay.tsx
  apps/web/src/components/Debug/ServerStatus.tsx
  specs/008-debug-ui/plan.md
  specs/008-debug-ui/research.md
  specs/008-debug-ui/spec.md
  specs/008-debug-ui/tasks.md
Due: eslint --fix, prettier --write

ci: inject GEMINI_API_KEY from secrets during release build
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: (any of: apps/server/**/*.{ts,js}) or (any of: apps/web/**/*.{ts,tsx})
  prettier --write: ((any of: apps/server/**/*.{ts,js}) or (any of: apps/web/**/*.{ts,tsx})) or (any of: package.json)
